main{
    display: flex;
    flex-direction: column;
    padding: 20px;


}

.main--pic {
    height: auto;
    width: 600px;
    border-radius: 9px;
    align-self: center;
}

.main--header {
    margin-bottom: 25px;
}

.main--paragraph{
    margin-top: 0;
}
